body {
    background: url("https://images5.alphacoders.com/876/876590.png") no-repeat fixed;
    -moz-background-siza: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    height: 2000px;
}

.title {
    color: blue;
}

p {
    color: chartreuse;
}

blockquote {
    color: cyan;
}